/* 修改表单中的样式 */

.x-admin-sm .layui-input,
.x-admin-sm .layui-select,
.x-admin-sm .layui-textarea {
    float: left;
    width: 280px;
    margin: 5px 30px;
    border-radius: 2px;
    height: 35px;
}


/* 团队列表顶部模块 */

.layui-card {
    margin-bottom: 20px;
    margin-top: -10px;
}

.layui-card-header {
    font-weight: 700;
    font-size: 20px;
}


/* 表单前面的文字样式 */

.layui-form label {
    float: left;
    display: inline-block;
    line-height: 40px;
}


/* 按钮 */

.layui-btn {
    width: 115px;
    height: 35px!important;
    border-radius: 2px;
}

.layui-btn-danger {
    background-color: #009688;
}


/* 表格中的详情a连接 */

.td-manage a {
    color: #24a396;
}


/* 添加学员input样式 */

.layui-form-label {
    width: 120px;
    padding: 8px 5px;
}

.layui-form-select .layui-edge {
    left: 67%;
    top: 50%;
    margin-top: 20px;
}

.layui-form-select dl {
    top: 42px;
    overflow: hidden;
}


/* .分配评委的第二个选择按钮 */

.layui-btn-normal {
    margin-left: 31px;
    margin-top: 9px;
    background-color: #796aee;
    border-radius: 12px;
}