<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>添加队员</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>

</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row">
            <form class="layui-form" method="POST" action="">
            {% csrf_token %}
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                            <span class="x-red">*</span>姓名</label>
                    <div class="layui-input-inline">
                        <input type="tel" id="L_repass" name="member_name" required="" lay-verify="required" autocomplete="off" class="layui-input" placeholder="姓名"></div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                            <span class="x-red">*</span>学号</label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_repass" name="student_number" required="" lay-verify="required" autocomplete="off" class="layui-input" placeholder="学号"></div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                            <span class="x-red">*</span>手机号</label>
                    <div class="layui-input-inline">
                        <input type="tel" id="L_repass" name="telephone" required="" lay-verify="required" autocomplete="off" class="layui-input" placeholder="手机号"></div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                            <span class="x-red">*</span>身份证号</label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_repass" name="id_number" required="" lay-verify="required" autocomplete="off" class="layui-input" placeholder="身份证号"></div>
                </div>
                <div class="layui-form-item">
                    <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>年级</label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_pass" name="grade" required="" lay-verify="required" autocomplete="off" class="layui-input" placeholder="年级" list="member_list_grade">
                        <datalist id="member_list_grade">
                            <option>大一</option>
                            <option>大二</option>
                            <option>大三</option>
                            <option>大四</option>
                            <option>研一</option>
                            <option>研二</option>
                            <option>研三</option>
                        </datalist>                
                    </div>                </div>
                <div class="layui-form-item">
                    <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>专业</label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_pass" name="major" required="" lay-verify="required" autocomplete="off" class="layui-input" placeholder="专业"></div>
                </div>
                <div class="layui-form-item">
                    <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>班级</label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_pass" name="class_in_school" required="" lay-verify="required" autocomplete="off" class="layui-input" placeholder="班级"></div>
                </div>
                {% if file_error %}
                <div class="layui-form-item">
                    <span>file_error</span>
                </div>
                {% endif %}
                
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label"></label>
                    <button class="layui-btn" lay-filter="save" type="submit">点击添加</button></div>
            </form>
        </div>
    </div>
    <!-- <script>
        layui.use(['form', 'layer'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                    layer = layui.layer;

                //监听提交
                form.on('submit(save)',
                    function(data) {
                        console.log(data);
                        //发异步，把数据提交给php
                        layer.alert("重置密码成功", {
                                icon: 6
                            },
                            function() {
                                // 获得frame索引
                                var index = parent.layer.getFrameIndex(window.name);
                                //关闭当前frame
                                parent.layer.close(index);
                            });
                        return false;
                    });

            });
    </script> -->
</body>

</html>